.message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Or any high value to make sure it overlays other components */
}

.scroll {
  position: relative;
}

.scroll-image {
  max-width: 100%;
  /* Additional styles if needed */
}

.message-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

/* .message */