.house-selection-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.text-container{
  width:40%;
}
.text-container h1{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
    font-weight: lighter;
    font-style: italic;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}
