.memory-lane {
  background-size: cover;
  background-image: url(../../assets/img/memorylane.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 80vw;
  position: relative;
  right: 1rem;
}

.memory-lane .add-photo-btn {
  background-color: #ffffff;
  color: red;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-family: 'Brush Script MT', cursive;
  font-size: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
}

.memory-lane .add-photo-btn:hover {
  transform: scale(1.05);
  background-color: #e0e1d6;
}

.wall-of-fame {
  background-size: contain;
  background-image: url(../../assets/img/hallofFrame.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  width: 85vw;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wall-of-fame-photo {
  width: 20%;
  height: 30%;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s;
}

.wall-of-fame-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.photo-album {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

.photo img {
  border: 10px solid #eeefe3;
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.1);
  background: #eeefe3;
  width: 70%;
  object-fit: cover;
  border-radius: 0.3rem;
  cursor: pointer;
}

.photo-upload-modal {
  max-height: 70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
}

.photo-upload-modal h2 {
  font-family: 'Brush Script MT', cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.photo-upload-modal input[type="file"] {
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.photo-upload-modal input[type="file"]:hover {
  background-color: #e0e0e0;
  transform: scale(1.02);
}

.photo-upload-modal .caption-input {
  width: 90%;
  margin: auto;
  padding: 1rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(145deg, #f0f0f0, #d9d9d9);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  /* font-family: 'Lucida Handwriting', cursive; */
  resize: vertical; /* Allows the user to resize vertically */
}

.photo-upload-modal .caption-input::placeholder {
  color: #aaa;
  font-style: italic;
}

.photo-upload-modal button {
  display: block;
  margin: auto;
  width: 70%;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
}

.photo-upload-modal button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
.photo-upload-modal .thumbnail {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.photo-upload-modal .thumbnail img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.photo-upload-modal .clear-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
}

.photo-upload-modal .clear-btn:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}
#input-clear {
  width: fit-content;
  margin: auto;
  background-color: transparent;
  color: black;
  padding: 0.3rem;
  border: none; 
  cursor: pointer; 
  transition: color 0.3s, transform 0.3s; 
}

#input-clear:hover {
  color: #e74c3c; /* Change color on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
  background-color: rgb(236, 236, 236);
}


@media (max-width: 1200px) {

  .lifebook {
    background-size: contain;
    width: 70vw;
    height: 70vh;
  }

}