

.book-cover {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  width: 85vw;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-cover button{
  position: absolute;
  right:5%;
}
img.cover-photo {
  width: 21vw;
  height: 50vh;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

button.edit-cover-button, button.add-cover-button{
  position: absolute;
  color: rgb(247, 230, 133);
  bottom:5%;
  right:5%;
  z-index: 3;
  background-color: rgb(0, 0, 57);
  padding:1rem;
  border-radius: 0.3rem;
}

.open-life-book-content {
  background-size: 135%;
  background-image: url(../../../assets/img/openlifebook.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  width: 85vw;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#book-close-button {
  position: absolute;
  left: 2rem;
}

.life-book-copy-container {
  width: 50%;
  height: 55%;
  position: relative;
  right: 1rem;
  display: flex;
  padding:1rem;
  border-radius: 1rem;
}

.life-book-copy-container .life-book-left-side,
.life-book-right-side {
  max-width: 41%;
  padding: 0.5rem;
  position: relative;
}
.life-book-copy-container .life-book-left-side{
  margin-right:2rem;
  width: 100%;
  overflow: hidden;
}
.life-book-copy-container .life-book-right-side{
  margin-left:5rem;
  display: flex;
}

.quill-container{
  /* height: 70%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-content: center;
}
.quill-container .custom-quill-editor{
  height: 100%;
}
.quill-input-wrapper{
  height: 100%;
  max-width: 100%;
}
#toolbar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #00000042;
}
.custom-quill-editor .ql-editor{
  font-size: 1.3rem;
}
.quill-container .ql-container.ql-snow{
  border: none;
  padding: 0;
}
.quill-container .ql-toolbar.ql-snow {
  border: none; 
  position: relative;
  bottom: 0.5rem;
  padding: 0;
}

.thumbnail-container {
  display: flex;
  align-items: center;
  max-height: 200px;
  overflow: hidden;
  margin-top: 0.5rem;
  position: relative;
}

.uploaded-thumbnail {
  max-width: 50%;
  margin-left:25%;
}

.thumbnail-container .clear-button{
  font-size: 2.3rem;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;  
}
.thumbnail-container .clear-button:hover{
  color: rgba(0, 0, 0, 0.534);
}

.prompt-item {
  cursor: pointer;
  margin: 0.5rem 0;
}


.cover-photo-container {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.life-stage-prompts {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  margin-top:1rem;
}

.prompt-section h3:hover{
  background-color: #9a64004e;
  color: white;
}

.prompt-section h3{
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  width: max-content;
  border-radius: 0.3rem;
  cursor: pointer;
}
.welcome-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  bottom: 5rem;
}
.welcome-container button{
  padding: 0.5rem 1rem;
  background-color: #dbb34d6e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
  color: rgba(0, 0, 0, 0.534);
  width: max-content;
}
.welcome-container button:hover{
  background-color: #dbb34d;
  transform: scale(1.05);
}

.prompts-btn-menu{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  position: absolute;
  bottom: 0;
}

.prompts-btn-menu button{
  padding: 0.5rem 1rem;
  background-color: #dbb34d6e;
  margin: 2px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
  color: rgba(0, 0, 0, 0.534);
  width: max-content;
  /* position: absolute; */
}
.prompts-btn-menu button:hover{
  background-color: #dbb34d;
  transform: scale(1.05);
}

.life-book-left-side .upload-button{
  background-color: #dbb34d6e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
  color: rgba(0, 0, 0, 0.534);
  width: max-content;
  padding: 0.5rem 1rem;
}

.life-book-left-side .upload-button:hover{
  background-color: #dbb34d;
  transform: scale(1.05);
}

.quill-container .lifebook-button{
  background-color: #dbb34d6e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
  color: rgba(0, 0, 0, 0.534);
  width: max-content;
  padding: 0.5rem 1rem;

}

.quill-container .lifebook-button:hover{
  background-color: #dbb34d;
  transform: scale(1.05);
}

.prompts-index-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  width: 100%;
  height: 100%; 
  position: relative;
}

.prompts-panel{
  overflow:auto;
  height: 100%;
}

.open-life-book-content .prompts-btn{
  border: rgba(0, 0, 0, 0.22) 2px solid;
  background-color: rgba(0, 0, 0, 0.041);
  padding: 0.5rem 1rem;
  width: 80%;
  margin: .5rem 0;
  cursor: pointer;
}
.open-life-book-content .prompts-btn:hover{
  background-color: #dbb34d6e;
}

.quill-button-container{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}