.home {
  background-image: url("../../assets/img/house1-xl.jpg");
  flex-grow: 1;
}

.info-box {
  background-color: #ffffff;
  margin: 2rem;
  width: 40%;
  padding: 2rem;
}
.icon-btn-container {
  display: flex;
  justify-content: space-evenly;
}

.icon-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1rem;
  border-radius: 0.5rem;
}
.icon-btn:hover{
  cursor: pointer;
  background-color: #fddda4;
  color: black;
}

.icon-btn p {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 3rem;
}
.description-box {
  display: none; /* Initially hidden */
  position: absolute;
  top:30%;
  left:50%;
  background-color: rgba(255, 255, 255, 0.519);
  border: 5px solid rgba(0, 0, 0, 0.692);
  padding: 5px;
  border-radius: 5px;
  margin: 2rem;
  width: 40%;
  padding: 2rem;
}

.description-box-visible {
  display: block;
}

.desc-container{
  background-color: #fcfcfc;
  padding:1rem;
}