
.top-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  padding: 0.5rem;
  height: 5%;
  display: flex;
  align-items: center;
}

footer {
  justify-content: center;
  background-color: #2d89835a;
  color: rgba(0, 0, 0, 0.651);
}
