
.top-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

header,
footer {
  padding: 10px 20px;
  height: 6vh;
  display: flex;
  align-items: center;
  z-index: 2;
}

header {
  justify-content: space-around;
  background-color: #2D8983;
  
}
button{
  background-color: #2D8983;
  border: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}



footer {
  justify-content: center;
  background-color: #2d89835a;
}

