.mementos-container img{
  width: 78%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 45%;
  left: 52%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* transform: rotate(10deg); */
}

.mementos-content{
  border: 1px solid red;
  position: absolute;
  width: 60%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;

}
.left-side{
  border: 1px solid black;
  width:53%;
  padding:1rem;
}
.left-side p{
  padding:0.5rem;
}
.right-side{
  padding:1rem;
  border: 1px solid black;
  width: 47%;

}