.openbook{
  width: 78%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 45%;
  left: 52%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* transform: rotate(10deg); */
}

.mementos-content{
  /* border: 1px solid red; */
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;

}
.left-side{
  /* border: 1px solid black; */
  width:53%;
  padding:1rem;
  /* transform: rotate(-2deg); */
}
.left-side h2{
  text-align: center;
}
.left-side p{
  /* padding:0.5rem; */
}
.right-side{
  padding:1rem;
  /* border: 1px solid black; */
  width: 47%;
  transform:rotate(-2deg);
}
.photo-album-callout{
  display: flex;
  align-items: center;
  font-size:2rem;
  cursor:pointer;
  width: max-content;
  padding:1rem 2rem;
  border-radius: 2rem;
}
.photo-album-callout:hover{
  background-color: rgba(0, 0, 0, 0.143);
  /* border:1px gray solid; */

}
.your-life-callout-container{
  margin:3rem;
  text-align: center;
  border-radius: 2rem;
  padding:2rem;
  cursor: pointer;
  width: 80%;

}
.your-life-callout-container img{
  width:80%;
  border-radius: 1rem;
  cursor: pointer;
}
.your-life-callout-container:hover{
  background-color: rgba(0, 0, 0, 0.143);
}

.mementos-container button{
  position: absolute;
  bottom:10rem;
  left:20rem;
  z-index: 1;
  background-color: transparent;
  color: #31605b;
  border-radius: 0.5rem;
  background-color: white;

}
.mementos-container button:hover{
  background-color: rgba(0, 0, 0, 0.143);
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.fullscreen-overlay img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: pointer;
}