.gallery-card {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* For the arrows to position correctly */
}

.gallery-card-image {
  max-width: 100%;
  max-height: 90vh;
  display: block;
  margin: 0 auto;
}

.gallery-card-label {
  margin-top: 10px;
  text-align: center;
}

.info-card {
  position: absolute;
  background-color: white;
  left:10rem;
  top:10rem;
  max-width:30%;
  padding:3rem;
}

.gallery-card button{
  position: absolute;
  bottom:15rem;
  padding:1rem 5rem;
  font-size: 1.5rem;
}