.setup-gallery {
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  /* To ensure nothing spills out */
  position: absolute;
  /* For the arrows to position correctly */
}


.onboarding-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.673);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  cursor: pointer;
  z-index: 10;
  /* Make sure it's above the GalleryCard */
  color: rgb(236, 236, 236);
}

.left-arrow {
  left: 1rem;
}

.right-arrow {
  right: 1rem;
}


.left-arrow:hover,
.right-arrow:hover {
  background-color: rgba(0, 0, 0, 0.471);
}